*{
    margin: 0;
    padding: 0;
}
/* NavBar */



body{
    font-family: Arial, Helvetica, sans-serif;
}

.showcase{
    height: 100vh;
    background-image: url('images/main.jpg');
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
    font-size: 22px;
    font-weight: 600;
}

.navbar li{
    margin-left: 80px;
}

.navbar a{
    text-decoration: none;
    color: rgba(245, 222, 179, 0.637);
    margin:  0;
}

.navbar ul{
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}
 
.logo{
    width: 150px;
}

.navbar li:hover{
    color: #fff;
    position: relative;
    top: -5px;
    /* margin-bottom: 5px; */
    /* font-size: 1.05em; */
}

/* ShowCase */

.welcoming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 30vh;
    color: wheat;
}

.welcoming h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.welcoming p{
    color: rgba(245, 222, 179, 0.637);
    margin: 0 40px;
}

/* CTA-BTN */

.cta-btn{
    border: 2px rgba(245, 222, 179, 0.637) solid;
    padding: 20px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;
    width: 150px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.cta-btn:hover{
    color: #000;
    background-color:rgba(245, 222, 179, 0.637);
    position: relative;
    bottom: 4px;
    transition: 0.4s;
}

/* About Section */

.about{
    background-color: rgb(1, 6, 1);
    display: flex;
    padding: 100px 40px 100px 40px;
    color: #fff;
    flex-wrap: wrap;
    align-items: center;
}

.about h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: wheat;
    display: fixed;
    display: block;
    width: 100%;
    margin: 0 40px 40px 40px;
    text-align: center
;}

.topic{
    background-color: rgba(255, 235, 205, 0.363);
    border-radius: 5px;
    margin: 40px 40px 0px 40px;
    padding: 35px;
    flex: 1;
    text-align: center;
    font-size: large;
    font-weight: 400;
    color: white
}

.topic img{
    width: 150px;
    margin-bottom: 50px;
}

.topic:hover{
    position: relative;
    top: -5px;
    left: -5px;
}
